table{
    width: 60%;
    margin: 0 auto;
    text-align: center; 

    th{
        background-color: salmon;
        color: white;
    }

    td{
        border-bottom: 1px solid grey;
    }

    th, td{
        padding: 10px;
    }

    .career{
        &-period-role{
            width: 15%;
        }

        &-description{
            width: 65%;
        }

        &-more-info{
            width: 5%;
            border-bottom: 0px;
        }
    }
}