h1{
    display: none;
}

.logo{
    position: fixed;
    top: 20px;
    right: 15px;
    z-index: 100;

    &-img{
        width: 40px;
    }
}

.copyright{
    position: fixed;
    bottom: 10px;
    right: 15px;
    font-size: 10px;
    color: white;
    text-shadow: black;
}