*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    text-transform: none;
    font-family: 'Montserrat', sans-serif;
    list-style: none;
}

html{
    font-size: 10px;
}

//Color variables
$primary-color : salmon;
//$secondary-color: ;

$light-color: bisque;
$dark-color: #333;

//FONT SETTINGS
//Font variables
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Ubuntu:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
$f-family-primary: 'Source Sans Pro', sans-serif;


//Font mixins
@mixin font-set($family, $size, $height, $weight){
    font-family: $family;
    font-size: $size;
    line-height: $height;
    font-weight: $weight;    
}

//Set text color based on bg
@function font-color($color){
    @if(lightness($color) > 60){
        @return $dark-color;
    }@else{
        @return $light-color;
    }
}

@mixin font-custom-color($custom-font-color){
    color: $custom-font-color;
}

//Set background and text color
@mixin set-background($color) {
    background-color: $color;
    color: font-color($color);
}