.full-screen-container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.main-container{
    position: relative;
    width: 95%;
    height: 100vh;
}

.center-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

//Margin and padding classes
$spaceamounts: (1,2,3,4,5);

@each $space in $spaceamounts {
    .m-#{$space}{
        margin: #{$space}rem,
    }
    .my-#{$space}{
        margin: #{$space}rem 0,
    }

    .p-#{$space}{
        padding: #{$space}rem,
    }
    .py-#{$space}{
        padding: #{$space}rem 0,
    }
}

@for $i from 1 through 5{
  
    .m-#{$i}{
        margin: #{$i}rem,
    }
    .my-#{$i}{
        margin: #{$i}rem 0,
    }
    .mx-#{$i}{
        margin: 0 #{$i}rem,
    }
    .mt-#{$i}{
        margin-top: #{$i}rem,
    }
    .mb-#{$i}{
        margin-bottom: #{$i}rem,
    }
    .ml-#{$i}{
        margin-left: #{$i}rem,
    }
    .mr-#{$i}{
        margin-right: #{$i}rem,
    }
    .p-#{$i}{
        padding: #{$i}rem,
    }
    .py-#{$i}{
        padding: #{$i}rem 0,
    }
    .px-#{$i}{
        padding: 0 #{$i}rem,
    }
    .pt-#{$i}{
        padding-top: #{$i}rem,
    }
    .pb-#{$i}{
        padding-bottom: #{$i}rem,
    }
    .pl-#{$i}{
        padding-left: #{$i}rem,
    }
    .pr-#{$i}{
        padding-right: #{$i}rem,
    }
}

.mx-auto{
    margin: 0 auto;
}


//Columns grid
@for $i from 1 through 10{
    .col-1of#{$i}{
        width: (100%/#{$i});
    }
}
